In [1]:
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.svm import SVC

In [2]:
iris = load_iris()

In [5]:
df = pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [6]:
df.head(2)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

In [8]:
df['flower'] = iris['target']
df['flower'] = df['flower'].apply(lambda x: iris.target_names[x])

In [9]:
df[23:26]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa

In [22]:
from sklearn.model_selection import GridSearchCV

clf = GridSearchCV(SVC(gamma='auto'),{
    'C': [1,10,20,50],
    'kernel' : ['rbf','linear']
}, cv=5, return_train_score=False)

clf.fit(iris.data, iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00093317, 0.00061035, 0.0008461 , 0.00065188, 0.00064707,
        0.0005796 , 0.00065269, 0.00055833]),
 'std_fit_time': array([2.06036530e-04, 6.56814410e-05, 1.89316567e-04, 8.60486178e-05,
        1.65311954e-05, 7.28664284e-05, 2.76082538e-05, 3.04845542e-05]),
 'mean_score_time': array([0.00054898, 0.00036902, 0.00050526, 0.00035801, 0.00038509,
        0.00030007, 0.00037861, 0.00030389]),
 'std_score_time': array([1.34205528e-04, 6.81666028e-05, 1.34875091e-04, 6.62974466e-05,
        2.58208092e-05, 5.07691637e-06, 1.76815951e-05, 1.32167356e-05]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20, 50, 50],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear',
                    'rbf', 'linear'],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 50, 'kernel': 'rbf'},
  {'C': 50, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        , 1.        , 1.        ]),
 'split1_test_score': array([1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.96666667, 1.        ]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       , 0.9       , 0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333, 0.93333333, 0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667, 0.96      , 0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 , 0.03887301, 0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6, 8, 6], dtype=int32)}

In [23]:
df = pd.DataFrame(clf.cv_results_)
df.head(2)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000933,0.000206,0.000549,0.000134,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.98,0.01633,1
1,0.000610,0.000066,0.000369,0.000068,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.98,0.01633,1

In [24]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667
6      50          rbf         0.960000
7      50       linear         0.966667

In [25]:
clf.best_score_

0.9800000000000001

In [26]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [43]:
from sklearn.model_selection import RandomizedSearchCV

rs = RandomizedSearchCV(SVC(gamma='auto'),{
    'C': [1,10,20,50],
    'kernel' : ['rbf','linear']
}, cv=5, return_train_score=False, n_iter=2)

rs.fit(iris.data, iris.target)
pd.DataFrame(clf.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf             0.98
1      50          rbf             0.96

In [49]:
clf.best_score_

0.9800000000000001

In [50]:
clf.best_params_

{'kernel': 'rbf', 'C': 1}

In [ ]:
# Choosing best model

In [53]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [57]:
# Python Dictionary
model_params = {
    'svm' : {
        'model': SVC(gamma='auto'),
        'params': {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression': {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [61]:
scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'],cv=5, return_train_score=False)
    clf.fit(iris.data,iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_param': clf.best_params_
    })

In [63]:
pd.DataFrame(scores)

                 model  best_score                 best_param
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.953333        {'n_estimators': 5}
2  logistic_regression    0.966667                   {'C': 5}