In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4])

In [4]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [9]:
s1 = pd.Series([1,2,3,4],index=['a','b','c','d'])

In [7]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
s1+10

a    11
b    12
c    13
d    14
dtype: int64

In [5]:
s2 = pd.Series([5,6,7,8,9])

In [6]:
s1+s2

0     6.0
1     8.0
2    10.0
3    12.0
4     NaN
dtype: float64

In [7]:
pd.DataFrame({"Name":['Kamlish','Neha','Zee'], 'Age':[27,26,25]})

      Name  Age
0  Kamlish   27
1     Neha   26
2      Zee   25

In [9]:
data=pd.read_csv("GDP.csv")

In [14]:
data.shape

(231, 15)

In [15]:
data.describe()

       Index Number
count     230.000000
mean      114.500000
std        66.539462
min         0.000000
25%        57.250000
50%       114.500000
75%       171.750000
max       229.000000

In [16]:
data.count()

Index Number           230
Rank                   230
Country/Economy        230
GDP (millions of $)    230
Agriculture GDP        231
Unnamed: 5             231
Unnamed: 6             231
Industry               231
Unnamed: 8             231
Unnamed: 9             231
Services               231
Unnamed: 11            231
Unnamed: 12            231
Year GDP               230
Year Sector            230
dtype: int64

In [23]:
data.iloc[0:3,0:5]

   Index Number  Rank Country/Economy GDP (millions of $) Agriculture GDP
0            NaN  NaN             NaN                 NaN             GDP
1            0.0    1   United States            19360000          174240
2            1.0    2           China            11940000          991020

In [24]:
data.mode()

,Index Number,Rank,Country/Economy,GDP (millions of $),Agriculture GDP,Unnamed: 5,Unnamed: 6,Industry,Unnamed: 8,Unnamed: 9,Services,Unnamed: 11,Unnamed: 12,Year GDP,Year Sector
0,0.0,-,Afghanistan,-,-,-,-,-,-,-,-,-,-,2017,2017
1,1.0,NaN,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,NaN,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,225.0,NaN,West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,226.0,NaN,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,227.0,NaN,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,228.0,NaN,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,229.0,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data.head()

,Index Number,Rank,Country/Economy,GDP (millions of $),Agriculture GDP,Unnamed: 5,Unnamed: 6,Industry,Unnamed: 8,Unnamed: 9,Services,Unnamed: 11,Unnamed: 12,Year GDP,Year Sector
0,NaN,NaN,NaN,NaN,GDP,Rank,% of GDP,GDP,Rank,% of GDP,GDP,Rank,% of GDP,NaN,NaN
1,0.0,1,United States,19360000,174240,3,0.9,3659040,2,18.9,15526720,1,80.2,2017,2017
2,1.0,2,China,11940000,991020,1,8.3,4716300,1,39.5,6232680,2,52.2,2017,2017
3,2.0,3,Japan,4884000,48840,13,1,1450548,3,29.7,3384612,3,69.3,2017,2017
4,3.0,4,Germany,3652000,21912,31,0.6,1099252,4,30.1,2530836,4,69.3,2016,2017

In [27]:
def half(s):
    return s*0.5;

In [38]:
data[['Industry']].apply(half)

TypeError: can't multiply sequence by non-int of type 'float'

AttributeError: 'DataFrame' object has no attribute 'sort'